table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td
{
    border: 1px solid black;
    padding: 2px 10px 2px 10px !important;
    text-align: center;
    height: 20px;
}